.construct-page{
    padding-top: 60px;
}
.construct__det{
    margin-top: 50px;
}
.construct__det ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.construct__det ul li{
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 0.40);
    transition: 0.3s;
    cursor: pointer;
}
.construct__det ul li:hover{
    color: rgba(255, 255, 255, 1);
}
.construct__det ul .active-moved{
    color: rgba(255, 255, 255, 1);
}
.construct__click strong{
    display: none;
}
.construct__cnt{
    margin-top: 60px;
}
.construct__block{
    display: flex;
}
.construct__info{
    position: relative;
    background: #ffffff;
    padding: 32px 35px;
    max-width: 380px;
    width: 100%;
}
.construct__info p{
    margin-top: 80px;
}
.construct__video{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 905px;
    width: 100%;
}
.construct__video>img{
    object-fit: cover;
    width: 100%;
    height: 607px;

}

.construct__info p{
    color: rgba(16, 47, 92, 1);
    font-weight: 400;
}
.construct__info h2 {
    color: rgba(16, 47, 92, 1);
    font-weight: 300;
    line-height: 52px;
    font-size: 42px;
}
.construct__info .location__arrows {
    margin-top: 41px;
    position: relative;
}

.construct__slider .swiper-pagination{
    color: rgba(16, 47, 92, 1);
    font-size: 24px;
    line-height: 34px;
    max-width: 90px;
    margin-left: auto;
}
.construct__slider .swiper-pagination-current{
    font-size: 54px;
    line-height: 52px;
    color: rgba(16, 47, 92, 1);
}
.construct__slider .swiper-pagination-total{
    color: rgba(16, 47, 92, 1);
    font-size: 24px;
    line-height: 34px;
}


@media (max-width: 991px){
    .construct__block {
        flex-direction: column-reverse;
    }
    .construct__info {
        padding: 29px 20px;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .construct__info p {
        margin-top: 40px;
    }
    .construct__info .location__arrows {
        margin-top: 10px;
        order: 1;
        position: relative;
    }
    .construct__info h2 {
        line-height: 46px;
        font-size: 38px;
        order: 2;
        margin-top: 30px;
    }
    .construct__info p {
        order: 3;
    }
    .construct__video>img {
        object-fit: cover;
        width: 100%;
        height: 335px;
    }
    .construct__det {
        margin-top: 35px;
    }
    .construct__cnt {
        margin-top: 40px;
    }
    .construct__det ul{
        flex-wrap: wrap;
        grid-gap: 10px;
    }
    .construct-page {
        padding-top: 40px;
    }
    .construct__det{
        display: none;
    }
    .construct__click{
        max-width: 330px;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 12px;
        margin-top: 50px;
    }
    .construct__click strong {
        display: block;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: left;
        color: #ffffff;
        position: relative;

    }
    .construct__click strong:after{
        content: "";
        position: absolute;
        top: 5px;
        right: 0;
        width: 9px;
        height: 9px;
        border-top: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform: rotate(135deg);
    }
    .construct-click__open .construct__det{
        display: block;
    }
    .construct__det{
        background: rgba(255, 255, 255, 1);
        position: absolute;
        margin-top: 13px;
        width: 100%;
        z-index: 11;
    }
    .construct__det ul{
        flex-direction: column;
        align-items: center;
        padding: 35px 0;
    }
    .construct__det ul li{
        width: 100%;
        text-align: center;
        color: rgba(16, 47, 92, 0.40);
    }
    .construct__det ul li{
        width: 100%;
        text-align: center;
        color: rgba(16, 47, 92, 0.40);
        padding: 10px 0;
        transition: 0.3s;
    }
    .construct__det ul  .active-moved{
        color: rgba(16, 47, 92, 1);
        background: rgba(16, 47, 92, 0.40);
    }
}