#mapDiv .gm-style>div:nth-child(4)div {
    display: none!important;
    opacity: 1!important;
}






.contact__main{
    padding-top: 80px;
}
.contact__main h2{
    font-size: 44px;
    line-height: 52px;
    transition: 1.2s;
    transform: translateX(-10%);
}
.contact__soc{
    transition: 1.2s;
    transform: translateX(-20%);
}
.contact__act .contact__soc{
    transform: translateX(0);
}
.contact__act h2{
    transform: translateX(0);
}

.contact__title {
    margin-bottom: -156px;
    margin-top: 80px;
    z-index: 1;
    position: relative;
}
.contact__flex{
    display: flex;
    justify-content: space-between;
}
.contact__info{
    max-width: 424px;
    width: 100%;
    margin-top: 200px;
    position: relative;
    z-index: 1;
    transition: 1.5s;
    opacity: 0;
    transform: translateX(-30%);
}
.contact__act .contact__info{
    transform: translateX(0);
    opacity: 1;

}
.contact__info span{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: rgba(255, 255, 255, 0.50);
    display: block;
    margin-bottom: 24px;
}
.contact__info h2{
    max-width: 383px;
    width: 100%;
}
.button-liner{
    width: max-content;
    padding: 20px 30px;
    border-radius: 100px;
    border: 1px solid rgba(245, 131, 87, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: 0.3s;
    background: unset;
}
.button-liner:hover{
    background: rgba(245, 131, 87, 1);
}
.contact__info a{
    margin-top: 12px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding: 20px 30px;
    max-width: 298px;
    width: 100%;
    height: 69px;
}
.contact__map{
    display: flex;
    max-width: 813px;
    width: 100%;
    height: 813px;
    margin-left: -59px;
    border-radius: 50%;
    overflow: hidden;
    transition: 1.5s;
    opacity: 0;
    transform: translateX(-30%);
}
.contact__act .contact__map{
    transform: translateX(0);
    opacity: 1;

}
.contact__map iframe{
    width: 100%;
    height: 102%;
    border-radius: 50%;

}
.contact__soc{
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    position: relative;
    z-index: 1;
}
.contact__number{
    color: #ffffff;
    margin: 20px 0;
    font-family: 'SF Pro Display';
    display: block;
    font-size: 34px;
    font-weight: 300;
    line-height: 44px;

}
.contact__sec{
    margin-top: 120px;
    margin-bottom: 110px;
}
.contact__sec:after{
    content: "";
    position: absolute;
    top: 360px;
    right: 0;
    background-image: url("../img/era5454.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 544px;
    width: 100%;
    height: 899px;
    z-index: -1;
}
.contact__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1090px;
    width: 100%;
}
.contact__user{
    max-width: 430px;
    width: 100%;
    margin-bottom: 54px;
    transition: 1.5s;
    transform: translateX(-30%);
    opacity: 0;
}

.contact__act .contact__user{
    transform: translateX(0);
    opacity: 1;

}

.contact__user img{
    max-width: 270px;
    width: 100%;
    border-radius: 50%;
}
.contact__user small{
    display: block;
    margin-top: 22px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: rgba(255, 255, 255, 0.50);
}
.contact__user h3{
    margin-top: 12px;
    min-height: 82px;
}
.contact__user .button-liner{
    margin-top: 20px;
}


.perspective__main{
    margin-top: 120px;

}
.perspective__flex{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}
.perspective__info{
    max-width: 626px;
    width: 100%;
    margin-top: 20px;
}
.perspective__info + .perspective__info{
    margin-left: 25px;
}
.perspective__info span, .perspective__info p{
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #ffffff;
}
.perspective__info p{
    font-weight: 300;
    margin-top: 21px;
    max-width: 440px;
    width: 100%;
    min-height: 63px;
}

.perspective__info:nth-child(1){
    transform: translateX(-30%);
    transition: 1.5s;
    opacity: 0;
}
.perspective__info:nth-child(2){
    transform: translateX(-30%);
    transition: 1.5s;
    opacity: 0;
}
.perspective__act .perspective__info{
    transform: translateX(0);
    opacity: 1;
}
.perspective__iframe{
    max-width: 626px;
    width: 100%;
    height: 415px;
    margin-top: 47px;
    border-radius: 300px;
    overflow: hidden;
}
.perspective__iframe iframe{
    width: 109%;
    height: 112%;
    border-radius: 300px;
}
.perspective__soc{
    margin-top: 51px;
}
.perspect-phone{
    margin: 20px 0;
    font-size: 34px;
    font-weight: 300;
    line-height: 41px;
    text-align: left;
    color: #ffffff;
    display: block;
}
.cont-map-mob{
    display: none;
}

@media (max-width: 1399px){
    .contact__map {
        max-width: 750px;
        margin-left: -54px;
        height: 750px;
    }
    .contact__soc {
        margin-top: -100px;
    }
    .contact__sec:after {
        top: 360px;
        max-width: 314px;
        height: 509px;
    }
    .contact__main h2 {
        transition: 0.6s;
        transform: translateX(0);
    }
    .contact__soc {
        transition: 0.6s;
        transform: translateX(0);
    }
    .contact__info {
        transition: 0.6s;
        transform: translateX(0);
    }
    .contact__map {
        transition: 0.6s;
        transform: translateX(0);
    }

}
@media (max-width: 1199px){
    .contact__main h2 {
        font-size: 34px;
        line-height: 42px;
    }
    .contact__info span {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 14px;
    }

    .contact__map {
        margin-left: -134px;
    }
    .contact__info a {
        font-size: 20px;
        line-height: 27px;
        padding: 12px 25px;
        height: 60px;
    }
}
@media (max-width: 1099px){
    .contact__map {
        margin-left: -125px;
        height: 650px;
        max-width: 650px;
    }
}
@media (max-width: 1024px){

    .perspect-phone {
        margin: 15px 0;
        font-size: 26px;
        line-height: 32px;
    }
    .answer-send__mail {
        font-size: 20px;
        line-height: 26px;
    }
    .contact__wrap {
        justify-content: space-around;
    }

    .perspective__iframe iframe {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .perspective__iframe {
        max-width: 460px;
        height: 460px;
        border-radius: 50%;
    }
}
@media (max-width: 991px){
    .perspective__iframe {
        max-width: 515px;
        height: 515px;
        border-radius: 50%;
    }
    .contact__title {
        margin-bottom: 0;
        margin-top: 0;
        z-index: 1;
        position: relative;
    }
    .contact__flex {
        flex-direction: column;
    }
    .contact__info h2 {
        max-width: 683px;
    }
    .contact__info {
        max-width: 654px;
        margin-top: 34px;
    }
    .contact__map {
        margin: 30px auto 0;
        max-width: 560px;
        height: 560px;
    }
    .contact__soc {
        margin-top: 35px;
    }
    .contact__sec:after{
        display: none;
    }
    .contact__user {
        max-width: 326px;
    }
    .perspective__main {
        margin-top: 60px;
    }
    .perspective__flex {
        flex-direction: column;
    }
    .perspective__info + .perspective__info {
        margin-left: 0;
        margin-top: 50px;
    }
    .button-liner {
        font-size: 20px;
        line-height: 26px;
    }

}

@media (max-width: 570px){
    .contact__user img {
        max-width: 230px;
    }
    .contact__user h3 {
        min-height: auto;
    }
    .button-liner {
        padding: 12px 22px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
    }
    .contact__user small {
        margin-top: 12px;
        font-size: 20px;
        line-height: 30px;
    }
    .perspective__info span, .perspective__info p {
        font-size: 20px;
        line-height: 26px;
    }
    .perspective__info img {
        margin-top: 20px;
    }
    .cont-map{
        display: none;
    }
    .cont-map-mob{
        display: block;
    }
    .perspective__soc {
        margin-top: 33px;
    }
    .contact__map {
        max-width: 434px;
        height: 434px;
    }
    .contact__map iframe {
        width: 100%;
        height: 100%;
        border-radius: 160px;
    }
    .perspective__iframe {
        border-radius: 160px;
    }
    .perspective__iframe iframe {
        width: 113%;
        height: 110%;
        border-radius: 160px;
    }
    .contact__map{
        border-radius: 160px;
    }
}