.container-foot{
    max-width: 1830px;
    width: 100%;
    padding: 0 15px 100px;
    margin: 0 auto;
}
.container-main{
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
}
.footer__logo{
    max-width: 233px;
    width: 100%;
}
.footer__logo a{
    display: flex;
    margin-bottom: 20px;
}
.footer__logo span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
}
.footer__menu{
    margin: 0 auto;
    max-width: 620px;
    width: 100%;
}
.footer__menu ul{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__menu ul li{
    width: 31%;
    margin-bottom: 20px;
}
.footer__menu ul li a{
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.footer__text{
    max-width: 1380px;
    width: 100%;
    margin: 60px auto 0;
}
.footer__text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
}
.footer__text p a{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
}
.footer__text p + p{
    margin-top: 30px;
}
.footer__under{
    width: 100%;
    margin-top: 60px;
    padding-top: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__politic{
    max-width: 700px;
    width: 100%;
}
.footer__politic a, .footer__made{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
    transition: 0.3s;

}

.footer__politic a:hover, .footer__made:hover{
    text-decoration: underline;
}

.footer__made {
    margin: 0;
}