@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Light.eot');
    src: local('Spectral Light'), local('Spectral-Light'),
    url('Spectral-Light.eot?#iefix') format('embedded-opentype'),
    url('Spectral-Light.woff2') format('woff2'),
    url('Spectral-Light.woff') format('woff'),
    url('Spectral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}



@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Italic.eot');
    src: local('Spectral Italic'), local('Spectral-Italic'),
    url('Spectral-Italic.eot?#iefix') format('embedded-opentype'),
    url('Spectral-Italic.woff2') format('woff2'),
    url('Spectral-Italic.woff') format('woff'),
    url('Spectral-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Medium.eot');
    src: local('Spectral Medium'), local('Spectral-Medium'),
    url('Spectral-Medium.eot?#iefix') format('embedded-opentype'),
    url('Spectral-Medium.woff2') format('woff2'),
    url('Spectral-Medium.woff') format('woff'),
    url('Spectral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('Spectral-LightItalic.eot');
    src: local('Spectral Light Italic'), local('Spectral-LightItalic'),
    url('Spectral-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('Spectral-LightItalic.woff2') format('woff2'),
    url('Spectral-LightItalic.woff') format('woff'),
    url('Spectral-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Bold.eot');
    src: local('Spectral Bold'), local('Spectral-Bold'),
    url('Spectral-Bold.eot?#iefix') format('embedded-opentype'),
    url('Spectral-Bold.woff2') format('woff2'),
    url('Spectral-Bold.woff') format('woff'),
    url('Spectral-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spectral';
    src: url('Spectral-Regular.eot');
    src: local('Spectral Regular'), local('Spectral-Regular'),
    url('Spectral-Regular.eot?#iefix') format('embedded-opentype'),
    url('Spectral-Regular.woff2') format('woff2'),
    url('Spectral-Regular.woff') format('woff'),
    url('Spectral-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}









@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Medium.eot');
    src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Medium.woff2') format('woff2'),
    url('SFProDisplay-Medium.woff') format('woff'),
    url('SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Heavy.eot');
    src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('SFProDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Heavy.woff2') format('woff2'),
    url('SFProDisplay-Heavy.woff') format('woff'),
    url('SFProDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Light.eot');
    src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Light.woff2') format('woff2'),
    url('SFProDisplay-Light.woff') format('woff'),
    url('SFProDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Bold.eot');
    src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Bold.woff2') format('woff2'),
    url('SFProDisplay-Bold.woff') format('woff'),
    url('SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Semibold.eot');
    src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Semibold.woff2') format('woff2'),
    url('SFProDisplay-Semibold.woff') format('woff'),
    url('SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('SFProDisplay-Regular.eot');
    src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('SFProDisplay-Regular.woff2') format('woff2'),
    url('SFProDisplay-Regular.woff') format('woff'),
    url('SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
